<html class="jumbotron big-banner">

<mat-toolbar color="primary">

  <span class="text-left">
    ABC College
  </span>

  <span class="fill-remaining-space pl-5">
    <button mat-raised-button color="accent"  [matMenuTriggerFor]="student">Student
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #student="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/student-detail" routerLinkActive="active">
       Student Detail
      </button>
      <button mat-menu-item routerLink="/student-list" routerLinkActive="active">
        Student List
      </button>
    </mat-menu>
  </span>

  <span class="fill-remaining-space pl-5">
    <button mat-raised-button color="accent"  [matMenuTriggerFor]="professor">Professor
      <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #professor="matMenu" [overlapTrigger]="false">
      <button mat-menu-item routerLink="/professor-detail" routerLinkActive="active">
       Professor Detail
      </button>
      <button mat-menu-item routerLink="/professor-list" routerLinkActive="active">
        Professor List
      </button>
    </mat-menu>
  </span>

  </mat-toolbar>

<router-outlet></router-outlet>
